// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: image-url('Wood-Background.jpg');
}
.contWidth {
	max-width: 460px;
	margin: 80px auto 0 auto;
	position: relative;
	top: 100px;
}
.instaOverlay {
	width: 374px; height: 450px; position: absolute;z-index: 99;
}
.backimg {
	
}
.mainContainer {
	zoom: .8;
	max-width: 1642px;
	margin: 0 auto;
	-moz-transform: scale(0.8);
	position: relative;
left: -100px
}
.homeBody {
	width: 100%;
	height: 100%;
	position: relative;
}
.homeContainer {position: relative;max-height: 1000px;top: 480px;}
.sqaureMenu {
	background: image-url('menu.png');
	width: 444px;
	height: 443px;
	position: absolute;
	-webkit-transform: rotate(344deg) translate3d(0px, 0px, 0px);
	        transform: rotate(344deg) translate3d(0px, 0px, 0px);
	top: -40px;
}
.sqaureMenu li {
	position: relative;
	top: 117px;
	list-style: none;
	color: transparent;
	margin: -5px 0;
	font-size: 22px;
	-webkit-transform: rotate(-7deg);
	        transform: rotate(-7deg);
	left: 171px;
	width: 234px;
}
.sqaureMenu a {
color: transparent;
}
.sqaureMenu a:hover {
border-bottom: 1px #428bca solid;
}
.logo {
	width: 100%;
	height: 131px;
	position: relative;
	background-repeat: no-repeat;
	top: -405px;
	margin: 0 auto;
	max-width: 825px;
	margin-left: 420px;
}
.styleLogo {
	width: 100%;
	margin-top: -46px;
	overflow: hidden;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.homeMenu {
	max-width: 930px;
	max-height: 800px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	position: relative;
	top: -328px;
	left: 180px;
	min-width: 640px;
	min-height: 300px;
	width: 936px;
}
img.menuBoard {
	width: 100%;
	height: auto;
}
section.menuText {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	width: 370px;
	position: absolute;
	margin-left: 199px;
	margin-top: -550px;
	color: #fff;
	height: 462px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.instgramCont {
	background: image-url('instagramCase.png');
	height: 450px;
    left: 930px;
    margin-top: 52px;
    position: absolute;
    top: -320px;
    width: 374px;
    z-index: 1;
}
img.styleInstImage {
	width: 345px;
	margin-top: 34px;
	margin-left: 19px;
	overflow: hidden;
	height: 333px;
}
.googleMaps {
	/*background: image-url('maps.jpg'); */
	background-repeat: no-repeat;
    height: 385px;
    left: 930px;
    position: absolute;
    top: 200px;
    width: 374px;
    z-index: 2;
}

.twitterPlace {
	position: absolute;
	z-index: 1;
	max-height: 205px;
	overflow: scroll;
	top: -234px;
	left: 595px;
	zoom: .75;
	-moz-transform: scale(0.75);
	border-radius: 7px;
	opacity: .9;
	min-width: 520px;
	max-width: 520px;
}
@-moz-document url-prefix() {
	.twitterPlace {
        left: 385px;
    	max-height: 124px;
    	top: -196px;
    	width: 514px;
    }
    .homeContainer {
    max-height: 620px;
	}
}


.smokeyD {
	background: image-url('smokey.png');
	position: relative;
	background-repeat: no-repeat;
	top: -1830px;
	height: 100px;
	transform: rotate(14deg);
	-webkit-transform: rotate(14deg);
	width: 260px;
}
.imagesRightHome {
	left: 1400px;
    max-width: 224px;
    position: absolute;
    top: -290px;
}
.flags {
	background: image-url('worldBakery.png');
	position: relative;
	background-repeat: no-repeat;
	height: 150px;
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	top: 22px;
	left: -60px;
	z-index: 0;
	width: 160px;
}
.bastrop {
	background: image-url('bastrop.png');
	position: relative;
	background-repeat: no-repeat;
	height: 150px;
	width: 260px;
	top: -60px;
}
.lastimage2 {
	background: image-url('burger.png');
	position: relative;
	background-repeat: no-repeat;
	position: relative;
	background-repeat: no-repeat;
	width: 360px;
	height: 400px;
	transform: rotate(-16deg);
	-webkit-transform: rotate(-16deg);
	top: -70px;
	left: -70px;
}
.lastimage1 {
	transform: rotate(11deg);
	-webkit-transform: rotate(11deg);
	position: relative;
	top: -180px;
	left: -120px;
	z-index: 1;
}





